body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", serif;
    background-image: radial-gradient(circle at 51.21% 52.59%, #ffffff 0, #fffffa 25%, #e6ecf2 50%, #c6d8ea 75%, #a9c5e3 100%);
}

header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient( to right , #BFBFBF , #9E9E9E, #8B8B8B);
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #2552C5;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navbar ul li {
    margin: 10px 20px;
}

.navbar  ul li a {
    text-decoration: none;
    color: #ffff;
    width: 100%;
    font-size: 20px;
}

.logoempresa {
    width: 5%;
}

h1 {
    font-family: "Inter", serif ;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: rgba(31 , 31, 31 , 1);
    margin: 30px;
    border-bottom: 1px solid #2552C5;
}

span{
    display: inline-block;
    width: 100%;
    font-size: 25px;
    margin: 32px;
    text-align: left;
}


.foto {
    width: 100%;
    height: 20%;
}

section {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 300px);
    column-gap: 50px;
    row-gap: 100px;
    margin: 120px 550px;
}
.box {
    width: 320px;
    height: 370px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fcf9f9;
    border-radius: 70px;
    box-shadow: 7 4px 6px rgba(0, 0, 0, 0.1);
}
.box h3{
    font-family: "Inter", serif ;
    font-size: 20px;
    padding: 20px 25px;
    text-align: center;
    font-weight: 600;
    color: #2552C5;
}

.box a {
    text-decoration: none ;
}

.mision {
    width: 240%; ;
    align-self:unset;
    margin: 140px 20px 20px 20px;
}

.vision {
    width: 240%;
    align-self:unset;
    margin: 20px 20px 20px 20px;
}

.negocio {
    width: 100%;
    align-self:unset;
    margin: 20px 20px 20px 20px;
}

.experiencias {
    width: 170%;
    align-self:unset;
    margin: 30px 20px 20px 20px;
}

.round-button {
    width: 250px;
    height: 250px;
    background-color: #ffff;
    color: #2552C5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    font-family: 'noto sans-regular';
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 5px 1px rgba(17, 17, 17, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.round-button:hover {
    background-color: #72A8E5;
    transform: scale(1.1);
    border: 3px solid #BFBFBF ;
    color: #f0f0f0;
}

.round-button:active {
    background-color: #3e8e41; }


.footer_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    background: linear-gradient( to right , #BFBFBF , #9E9E9E, #8B8B8B);
    width: 100%;
}
    
.footer_wrapper .caja01  {
    grid-row: 1 / 2;
}

.footer_wrapper .caja01 a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter", serif ;
    color: #004AA9;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 2px;
    padding: 3px;
}

.footer_wrapper .caja01  {
    text-align: center;
    margin-bottom: 9px; 
    }

.footer_wrapper .caja02 {
    grid-row: 1 / 3;
    margin: 1px;
}

.footer_wrapper .caja03 {
    margin-right: 20px;
}

.logo-sin-fondo {
    width: 50%;
    height: 100%;
    margin-left: 50px;
}

.copy {
    font-size: 20px;
    color: #484848;
}

.instagram {
    width: 50px;
    align-self: center;
}

.linkedin {
    width: 50px;
    align-self: center;
}
/* Otras Paginas */






/* paginas de nosotros */
.box1 {
    width: 360%;
    height: 250%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fcf9f9;
    border-radius: 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-box {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

.container-box p {
    font-family: "Inter", serif ;
    font-size: 20px;
    padding: 20px 25px;
}

.container-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    column-gap: 250px;
    row-gap: 200px;
    margin: 50px 50px 20px 30px;
}

.container-box h2 {
    font-family: "Inter", serif ;
    font-size: 30px;
    line-height: 1.23;
    font-weight: 400;
    text-align: center;
    color: rgba(31 , 31, 31 , 1);
    margin: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid #2552C5;
}
.container-nosotros .foto-call {
    width: 550px;
    height: 700px;
}

.container-nosotros:hover .foto-call {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.container-nosotros {
    overflow: hidden;
}

/*¨pagina de contacto */

.Titulocontacto h2 {
    font-family: "Inter", serif ;
    text-align: center;
    color: #3e8e41;
    margin-left: 50px;
    font-size: 38pt;
    font-weight: 400;
    color: rgba(31 , 31, 31 , 1);
    border-bottom: 1px solid #2552C5;
}
.container-contacto {
    display: flex;
    flex-direction: column;
}
.formulario {
    border: none;
    width: 100%;
    height: 10%;
    margin: 20px 1px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

iframe {
    margin: 40px 90px;
}

/* pagina de servicios */
.box2 {
width: 400px;
height: 500px;
background-color: #f0f0f0;
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid #fcf9f9;
border-radius: 70px;
box-shadow: 7 4px 6px rgba(0, 0, 0, 0.1);
}

.container-servicios {
    display: flex;
    justify-content:space-between;
    width: 95%;
    margin-left: 40px;
    padding: 10px;
}
.header-box2 img {
    width: 110%;
    height: 250px;
    object-fit: cover;
    align-items: flex-start;
}
.body-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.body-box2 p {
    font-size: 18px;
    font-family: "Inter", serif ;
    margin: 15px 0 40px;
    text-align: center;
}
.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 15px;
    margin: 0;
    color: #fff;
    padding: 2px 1px;
    cursor: pointer;
    text-align: center;
}
.tag-navyblue {
    background-color: #00008B;
}
.tag-dodgerblue {
    background-color: #1E90FF;
}
.tag-malibu {
    background-color: #87CEFA;
}
.tag-turquoiseblue {
    background-color: #63C9EB;
}
